* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#interface{
    background: url('./images/background-header.jpeg');
    padding-top: 30px;
    margin: 50px 10px 0 10px;
    width: 100%;
    height: 95vw;
}

#interface #header h1 {
    width: 100%;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: Khaki;
    margin-top: -30px;
   
   
}

#interface  #blushes-blank , #interface  #paint-blank {
    background-color: white;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
#interface #blushes h2  {
   background-color: mediumspringgreen;
    
}

#interface  #frame-blank{
    background-color: white;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
#interface #frame h2  {
    background-color: lightcoral;
   
}

#interface #paint h2  {
    background-color: skyblue;
    
}

.style {
    width: 100%;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-bottom: 30px;
}


span {
    color: blue;
    font-weight: bold;
}

.margin {
    margin-top: 30px;
    margin-bottom: 30px;
}