* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 4rem 0;
}

.ingrediente {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
   
}

.ingrediente img {
    height: 3rem;
}

.ingrediente p {
    margin-left: 1rem;
}
